.musicPlayer{
    background-color: #000;
    margin: auto;
    text-align: center;
    width: 320px;
}

.podcast{
   /*  background-image: url("../assets/images/song.jpeg");
    background-repeat: no-repeat;
    background-size:contain; */
    box-sizing: border-box;
    height: 300px;
    padding: 10px;
    width: 100%;
}

.podcast img{
    height: 100%;
    width: 100%;
}

.controls{
    margin-top: 20px;
    padding: 10px;
}

#seekBar{
   
    background:#fff;
    display: block;
    height: 15px;
    margin-bottom: 10px;
    width: 100%;
}

.btn{
    width: 40px;
}

.volumeController{
    margin-top: 15px;
    width: 100%;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    background: #d3d3d3;
    height: 5px;
    outline: none;
    opacity: 0.5;
    -webkit-transition: .2s;
    transition: .2s;
    width: 70%;
}

.slider:hover{
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearence: none;
    appearance: none;
    background: #4CAF50;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

#sliderValue{

    color: white;
    opacity: 0.9
}



/* ==================== RESPONSIVINESS ===================== */

@media only screen and (min-width: 1024px) and (min-height: 1366px){
    body{
        background: blue;
    }
}